[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
openai = "*"
django-cors-headers = "*"
redis = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
